body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #615db1;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}
